*
{
    margin: 0;
    padding: 0;
}

#canvas
{
    border: 10px solid black;
    margin-left: 180px;
}

#menu
{
    width: 1000px;
    height: 600px;
    margin-left: 180px;
    position: relative;
    background-image: url('../Images/snowbros.jpg');
    background-size: 100%;
}

.button
{
    width: 200px;
    position: absolute;
    left: 400px;
    top: 500px;
}

.button:focus{
    outline: none;
}


#gameOver
{
    width: 1000px;
    height: 600px;
    margin-left: 180px;
    background: url('../Images/gameover.png') no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: black
}

#gameComplete
{
    width: 1000px;
    height: 600px;
    margin-left: 180px;
    background: url('../Images/gamecomplete.jpg') no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: black
}